<!-- action usual -->
[#if DATA_SOURCE="miio_devices" || DATA_SOURCE=""#]
<!-- table miio_devices search -->
[#if VIEW_MODE="search_miio_devices" || VIEW_MODE=""#]

<div>
   <img src="../templates/xiaomimiio/milogo.png"  width="30" height="30">
   &nbsp;&nbsp;&nbsp;
   <a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
   &nbsp;&nbsp;&nbsp;
   [#if CYCLERUN==1#]
      <span class="label label-success" title="<#LANG_XIMI_APP_CYCLE_STATE#>"><#LANG_XIMI_APP_CYCLE_START#></span>
   [#else#]
      <span class="label label-danger" title="<#LANG_XIMI_APP_CYCLE_STATE#>"><#LANG_XIMI_APP_CYCLE_STOP#></span>
   [#endif#]
   <div class="float-right">&nbsp;&nbsp;&nbsp;&nbsp;</div>
   <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#about"><#LANG_XIMI_APP_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
   </button>
</div>

<div class="collapse" id='api_settings'>
   &nbsp;
   <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
      <fieldset>
         <div class="form-group">
            <label class="control-label"><#LANG_XIMI_APP_IP#>
               <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_IP_TOOLTIP#>">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </label>
            <div class="col-lg-4"><input class="form-control" type="text" name="api_ip" value="<#API_IP#>" class="input"></div>
         </div>
         <div class="form-group">
            <label class="control-label"><#LANG_XIMI_APP_PERIOD#>
               <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_PERIOD_TOOLTIP#>">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </label>
            <div class="col-lg-4"><input class="form-control" type="text" name="api_disc_period" value="[#if API_DISC_PERIOD!="" || API_DISC_PERIOD==0#][#API_DISC_PERIOD#][#else#]120[#endif#]" class="input"></div>
         </div>
         <div class="form-group">
            <div class="controls"><input type="checkbox" name="api_log_debmes" value="1"[#if API_LOG_DEBMES="1"#] checked[#endif#]> 
            <#LANG_XIMI_APP_DEBUG#> DebMes
               <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_DEBUG_TOOLTIP#>">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </div>
         </div>
         <div class="form-group">
            <div class="controls"><input type="checkbox" name="api_log_miio" value="1"[#if API_LOG_MIIO="1"#] checked[#endif#]> 
            <#LANG_XIMI_APP_DEBUG#> miIO-Lib
               <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_DEBUG_TOOLTIP2#>">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </div>
         </div>
         <div class="form-group">
            <div class="controls"><input type="checkbox" name="api_log_cycle" value="1"[#if API_LOG_CYCLE="1"#] checked[#endif#]> 
               <#LANG_XIMI_APP_DEBUG#> Cycle
               <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_DEBUG_TOOLTIP3#>">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </div>
         </div>
         <script type="text/javascript">
            $("#advanced_show").click(function () {
               var text = $('#advanced_show').text();
               $('#advanced_show').text(text == "<#LANG_XIMI_APP_SHOW#>" ? "<#LANG_XIMI_APP_HIDE#>" : "<#LANG_XIMI_APP_SHOW#>");
            });
         </script>
         <div class="form-group">
            <label class="control-label"><#LANG_XIMI_APP_ADVANCED_SETUP#></label>
            <div class="controls">
               <span class="btn btn-default btn-sm" id="advanced_show" data-toggle="collapse" data-target="#advanced_settings"><#LANG_XIMI_APP_SHOW#></span>
            </div>
         </div>
         <div class='collapse' id='advanced_settings'>
            <div class="form-group">
               <label class="control-label"><#LANG_XIMI_APP_SOCKET_TIMEOUT#>
                  <span class='support-hover' tabindex="1" data-title="<#LANG_XIMI_APP_SOCKET_TIMEOUT_TOOLTIP#>">
                     <i class="glyphicon glyphicon-info-sign"></i>
                  </span>
               </label>
               <div class="col-lg-4"><input class="form-control" type="text" name="api_socket_timeout" value="[#if API_SOCKET_TIMEOUT!=""#][#API_SOCKET_TIMEOUT#][#else#]2[#endif#]" class="input"></div>
            </div>
         </div>
         <div class="form-actions">
            <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
            <input type="hidden" name="view_mode" value="update_settings">
            <input type="hidden" name="mode" value="update">
         </div>
      </fieldset>
   </form>
</div>
 
 [#inc miio_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table miio_devices search -->
 <!-- table miio_devices edit -->
 [#if VIEW_MODE="edit_miio_devices"#]
	[#if ID!=""#]
		[#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
		<ul class="nav nav-tabs">
			<li[#if TAB=""#] class="active"[#endif#]>
				<a id="general-tab-link" href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
			</li>
			<li[#if TAB="data"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><#LANG_DATA#></a>
			</li>
			[#if DEVICE_TYPE=="lumi.gateway.v3" or DEVICE_TYPE=="lumi.acpartner.v3"#]
			<li[#if TAB="gwradio"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=gwradio"><#LANG_XIMI_APP_RADIO#></a>
			</li>
			<li[#if TAB="gwzigbee"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=gwzigbee">Zigbee</a>
			</li>
			[#endif DEVICE_TYPE#]
			<li [#if TAB=="help"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=help"><#LANG_XIMI_APP_HELP#></a>
			</li> 
		</ul>
	[#endif ID#]
	[#if TAB=""#]
		&nbsp;<br/><br/>
		[#inc miio_devices_edit_default.html#]
	[#endif TAB#]
	[#if TAB="data"#]
		&nbsp;<br/><br/>
		[#inc miio_devices_edit_data.html#]
	[#endif TAB#]
	[#if TAB="gwradio"#]
		&nbsp;<br/><br/>
		[#inc miio_devices_edit_gwradio.html#]
	[#endif TAB#]
	[#if TAB="gwzigbee"#]
		[#inc miio_devices_edit_gwzigbee.html#]
	[#endif TAB#]
	[#if TAB="help"#]
		[#inc ../.<#HELP_PATH#>#] 
	[#endif#] 
 [#endif VIEW_MODE#]
 <!-- / table miio_devices edit -->
 <!-- table miio_devices view --> 
 [#if VIEW_MODE="view_miio_devices"#]
	[#if TAB=""#]
		[#inc miio_devices_view_default.html#]
	[#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table miio_devices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="miio_commands"#]
 <!-- table miio_commands search -->
 [#if VIEW_MODE="search_miio_commands" || VIEW_MODE=""#]
  [#inc miio_commands_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table miio_commands search -->
 <!-- table miio_commands edit -->
 [#if VIEW_MODE="edit_miio_commands"#]
   [#inc miio_commands_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table miio_commands edit -->
 <!-- table miio_commands view --> 
 [#if VIEW_MODE="view_miio_commands"#]
   [#inc miio_commands_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table miio_commands view -->
 [#endif DATA_SOURCE#]
 
 <!-- About -->
 <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_XIMI_APP_CLOSE#></span></button>
				<h4 class="modal-title">Xiaomi miIO</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img src="../templates/xiaomimiio/milogo.png"  width="48" height="48">
					<br><br><p><b>v.1.9.6b</b></p>
				</div>
            <p class="float-left">
					<#LANG_XIMI_APP_MODULE#><br><br>
               <#LANG_XIMI_APP_DOCS#> <a href="https://kb.smartliving.ru/category/moduli-v-majordomo/xiaomi-miio/" target="_blank"><#LANG_XIMI_APP_INKB#></a>.<br>
					<#LANG_XIMI_APP_DISCUS#> <a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=4863" target="_blank"><#LANG_XIMI_APP_DISCUS2#></a>.<br>
					<#LANG_XIMI_APP_PROJ#> <a href="https://github.com/skysilver-lab/majordomo-xiaomimiio" target="_blank">Github</a>.<br>
					<#LANG_XIMI_APP_PROJ#> <a href="https://connect.smartliving.ru/tasks/51.html" target="_blank">Connect</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				<#LANG_XIMI_APP_DONATE#>
				<ul>
					<li>Yandex: <a href="https://money.yandex.ru/to/410011205062626" target="_blank">410011205062626</a></li>
					<li>PayPal: <a href="https://www.paypal.me/skysilver" target="_blank">paypal.me/skysilver</a></li>
					<li><#LANG_XIMI_APP_DONATE2#><a href="https://connect.smartliving.ru/tasks/51.html" target="_blank">Connect</a></li>
				</ul>
                </p>
				<h6><#LANG_XIMI_APP_THANKS#>: <b>webms</b>, <b>srvsrvsrv</b>, <b>SergeJey</b>, <b>Gelezako</b>, <b>horas</b>, <b>ингвар</b>, <b>Dicont</b>, <b>shawk</b>, 
            <b>ypiter2006</b>, <b>Genplane</b>, <b>TurburatoR</b>, <b>Alex77</b>, <b>iden</b>, <b>TrDA</b>, <b>newz20</b>, <b>axisvega</b>, <b>bat86</b>.</h6>
			</div>
			<div class="modal-footer">
				<div class="pull-left"><#LANG_XIMI_APP_Author#>: <a href="https://telegram.me/agafonov_d" target="_blank">skysilver</a></div>
				<button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_XIMI_APP_CLOSE#></button>
			</div>
		</div>
	</div>
</div>
