<link rel="stylesheet" href="../templates/xiaomimiio/css/bootstrap-select.min.css">

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
	
	<fieldset>
		[#if ID=""#]
		<legend><#LANG_ADD#> <#LANG_DEVICE#></legend>
		[#endif ID#]

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TITLE#> (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
				IP (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_TOKEN#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_XIMI_APP_TOKEN#>:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="token" value="[#TOKEN#]" id="token"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_DEVICE_TYPE#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TYPE#>:
			</label>
			<div class="col-lg-4">
				<select name="device_type" class="selectpicker show-tick form-control">
					<!-- шаблон для нового устройства
					<option data-content="<img src='../templates/xiaomimiio/img/small/NEW_DEV.png' width='20' height='20'> NEW_DEV_NAME" value="NEW_DEV" [#if DEVICE_TYPE="NEW_DEV"#] selected[#endif#]></option>
					-->
					<option value=""></option>
					<optgroup label="Aqara">
					<option data-content="<img src='../templates/xiaomimiio/img/small/lumi.acpartner.v3.png' width='20' height='20'> Aqara AC Companion Gateway" value="lumi.acpartner.v3" [#if DEVICE_TYPE="lumi.acpartner.v3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/lumi.camera.aq1.png' width='20' height='20'> Aqara Smart Camera Gateway" value="lumi.camera.aq1" [#if DEVICE_TYPE="lumi.camera.aq1"#] selected[#endif#]></option>
					</optgroup>
					<optgroup label="Xiaomi">
					<option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.humidifier.v1.png' width='20' height='20'> Mi Air Humidifier" value="zhimi.humidifier.v1" [#if DEVICE_TYPE="zhimi.humidifier.v1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.humidifier.ca1.png' width='20' height='20'> Mi Air Humidifier 2" value="zhimi.humidifier.ca1" [#if DEVICE_TYPE="zhimi.humidifier.ca1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/deerma.humidifier.mjjsq.png' width='20' height='20'> Mi Air Humidifier MJJSQ" value="deerma.humidifier.mjjsq" [#if DEVICE_TYPE="deerma.humidifier.mjjsq"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.airpurifier.v3.png' width='20' height='20'> Mi Air Purifier" value="zhimi.airpurifier.v3" [#if DEVICE_TYPE="zhimi.airpurifier.v3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.airpurifier.ma2.png' width='20' height='20'> Mi Air Purifier 2S" value="zhimi.airpurifier.ma2" [#if DEVICE_TYPE="zhimi.airpurifier.ma2"#] selected[#endif#]></option>
               <option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.airpurifier.mb3.png' width='20' height='20'> Mi Air Purifier 3/3H" value="zhimi.airpurifier.mb3" [#if DEVICE_TYPE="zhimi.airpurifier.mb3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/cgllc.airmonitor.b1.png' width='20' height='20'> Mi ClearGrass Air Monitor B1" value="cgllc.airmonitor.b1" [#if DEVICE_TYPE="cgllc.airmonitor.b1"#] selected[#endif#]></option>
               <option data-content="<img src='../templates/xiaomimiio/img/small/cgllc.airmonitor.s1.png' width='20' height='20'> Mi ClearGrass Air Monitor S1" value="cgllc.airmonitor.s1" [#if DEVICE_TYPE="cgllc.airmonitor.s1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/chuangmi.ir.v2.png' width='20' height='20'> Mi IR Remote 360" value="chuangmi.ir.v2" [#if DEVICE_TYPE="chuangmi.ir.v2"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/xiaomi.wifispeaker.v1.png' width='20' height='20'> Mi Internet Speaker" value="xiaomi.wifispeaker.v1" [#if DEVICE_TYPE="xiaomi.wifispeaker.v1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.lamp1.png' width='20' height='20'> Mi LED Desk Lamp" value="yeelink.light.lamp1" [#if DEVICE_TYPE="yeelink.light.lamp1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/mrbond.airer.m1pro.png' width='20' height='20'> Mi Mr. Bond M1 Pro" value="mrbond.airer.m1pro" [#if DEVICE_TYPE="mrbond.airer.m1pro"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/090615.switch.xswitch03.png' width='20' height='20'> Mi PTX ThreeKey Switch (WIFI)" value="090615.switch.xswitch03" [#if DEVICE_TYPE="090615.switch.xswitch03"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/zhimi.fan.sa1.png' width='20' height='20'> Mi Smart Fan SA1" value="zhimi.fan.sa1" [#if DEVICE_TYPE="zhimi.fan.sa1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/hfjh.fishbowl.v1.png' width='20' height='20'> Mi Smart Fish Tank" value="hfjh.fishbowl.v1" [#if DEVICE_TYPE="hfjh.fishbowl.v1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/lumi.gateway.v3.png' width='20' height='20'> Mi Smart Home Gateway 2" value="lumi.gateway.v3" [#if DEVICE_TYPE="lumi.gateway.v3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/qmi.powerstrip.v1.png' width='20' height='20'> Mi Smart Power Strip 5 Plugs" value="qmi.powerstrip.v1" [#if DEVICE_TYPE="qmi.powerstrip.v1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/zimi.powerstrip.v2.png' width='20' height='20'> Mi Smart Power Strip 6 Plugs" value="zimi.powerstrip.v2" [#if DEVICE_TYPE="zimi.powerstrip.v2"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/chuangmi.plug.v1.png' width='20' height='20'> Mi Smart Socket Plug with USB" value="chuangmi.plug.v1" [#if DEVICE_TYPE="chuangmi.plug.v1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/chuangmi.plug.v3.png' width='20' height='20'> Mi Smart Socket Plug with 2 USB" value="chuangmi.plug.v3" [#if DEVICE_TYPE="chuangmi.plug.v3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/chuangmi.plug.m1.png' width='20' height='20'> Mi Smart Socket Plug 2" value="chuangmi.plug.m1" [#if DEVICE_TYPE="chuangmi.plug.m1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/isa.camera.isc5.png' width='20' height='20'> Mi Square Smart Camera" value="isa.camera.isc5" [#if DEVICE_TYPE="isa.camera.isc5"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/isa.camera.df3.png' width='20' height='20'> Mi Dafang Smart Camera 120" value="isa.camera.df3" [#if DEVICE_TYPE="isa.camera.df3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/roborock.vacuum.s5.png' width='20' height='20'> Mi Roborock S50/S51" value="roborock.vacuum.s5" [#if DEVICE_TYPE="roborock.vacuum.s5"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/rockrobo.vacuum.v1.png' width='20' height='20'> Mi Vacuum Cleaner" value="rockrobo.vacuum.v1" [#if DEVICE_TYPE="rockrobo.vacuum.v1"#] selected[#endif#]></option>
               <option data-content="<img src='../templates/xiaomimiio/img/small/viomi.vacuum.v7.png' width='20' height='20'> Mi Robot Vacuum-Mop P" value="viomi.vacuum.v7" [#if DEVICE_TYPE="viomi.vacuum.v7"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yunmi.kettle.r1.png' width='20' height='20'> Mi Heating Water Dispenser MINI (R1/R2)" value="yunmi.kettle.r1" [#if DEVICE_TYPE="yunmi.kettle.r1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yunmi.kettle.r3.png' width='20' height='20'> Mi Heating Water Dispenser 4A (R3)" value="yunmi.kettle.r3" [#if DEVICE_TYPE="yunmi.kettle.r3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/loock.cateye.v01.png' width='20' height='20'> Mi Smart Loock CatY" value="loock.cateye.v01" [#if DEVICE_TYPE="loock.cateye.v01"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/xiaomi.repeater.v2.png' width='20' height='20'> Mi WiFi Amplifier 2" value="xiaomi.repeater.v2" [#if DEVICE_TYPE="xiaomi.repeater.v2"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/xiaomi.repeater.v3.png' width='20' height='20'> Mi WiFi Amplifier 3" value="xiaomi.repeater.v3" [#if DEVICE_TYPE="xiaomi.repeater.v3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/uvfive.s_lamp.slmap2.png' width='20' height='20'> Mi Five Disinfection Lamp" value="uvfive.s_lamp.slmap2" [#if DEVICE_TYPE="uvfive.s_lamp.slmap2"#] selected[#endif#]></option>
					</optgroup>
					<optgroup label="Philips">
					<option data-content="<img src='../templates/xiaomimiio/img/small/philips.light.ceiling.png' width='20' height='20'> Philips EyeCare Smart Ceiling Lamp" value="philips.light.ceiling" [#if DEVICE_TYPE="philips.light.ceiling"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/philips.light.sread1.png' width='20' height='20'> Philips EyeCare Smart Desk Lamp 2" value="philips.light.sread1" [#if DEVICE_TYPE="philips.light.sread1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/philips.light.bulb.png' width='20' height='20'> Philips Light Bulb" value="philips.light.bulb" [#if DEVICE_TYPE="philips.light.bulb"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/philips.light.candle.png' width='20' height='20'> Philips Rui Chi Candle Light Bulb" value="philips.light.candle" [#if DEVICE_TYPE="philips.light.candle"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/philips.light.downlight.png' width='20' height='20'> Philips Zhirui Downlight" value="philips.light.downlight" [#if DEVICE_TYPE="philips.light.downlight"#] selected[#endif#]></option>
					</optgroup>
					<optgroup label="Yeelight">
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.bslamp1.png' width='20' height='20'> Yeelight Bedside Lamp" value="yeelink.light.bslamp1" [#if DEVICE_TYPE="yeelink.light.bslamp1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.color1.png' width='20' height='20'> Yeelight Color Bulb" value="yeelink.light.color1" [#if DEVICE_TYPE="yeelink.light.color1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.mono1.png' width='20' height='20'> Yeelight White Bulb" value="yeelink.light.mono1" [#if DEVICE_TYPE="yeelink.light.mono1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.ceiling1.png' width='20' height='20'> Yeelight Ceiling Light" value="yeelink.light.ceiling1" [#if DEVICE_TYPE="yeelink.light.ceiling1"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.ceiling3.png' width='20' height='20'> Yeelight Bright Moon LED Intelligent Ceiling" value="yeelink.light.ceiling3" [#if DEVICE_TYPE="yeelink.light.ceiling3"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.ceiling8.png' width='20' height='20'> Yeelight Square Ceiling Light" value="yeelink.light.ceiling8" [#if DEVICE_TYPE="yeelink.light.ceiling8"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.ceiling4.png' width='20' height='20'> Yeelight Jiaoyue 650 Ceiling Light" value="yeelink.light.ceiling4" [#if DEVICE_TYPE="yeelink.light.ceiling4"#] selected[#endif#]></option>
					<option data-content="<img src='../templates/xiaomimiio/img/small/yeelink.light.strip1.png' width='20' height='20'> Yeelight LED Lightstrip" value="yeelink.light.strip1" [#if DEVICE_TYPE="yeelink.light.strip1"#] selected[#endif#]></option>
					</optgroup>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_UPDATE_PERIOD#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_POLLING_PERIOD#>, <#LANG_SECONDS#>:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="update_period" value="[#if UPDATE_PERIOD!=""#][#UPDATE_PERIOD#][#else#]0[#endif#]" id="update_period"></div>
		</div>

		[#if SERIAL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_SERIAL#>:
			</label>
			<div class="col-lg-4" style="padding: 5px 10px 0px 15px;">[#SERIAL#]</div>
		</div>
		[#endif#]

		[#if DEVICE_TYPE_CODE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_CODE#>:
			</label>
			<div class="col-lg-4" style="padding: 5px 10px 0px 15px;">[#DEVICE_TYPE_CODE#]</div>
		</div>
		[#endif#]

      [#if DEVICE_TYPE="lumi.gateway.v3" || DEVICE_TYPE="lumi.acpartner.v3"#]
      <div class="form-group">
         <label class="col-lg-3 control-label">
            <#LANG_XIMI_APP_LAN_MODE#>:
         </label>
         <div class="col-lg-8">
            [#if LAN_KEY!=""#]
               <span class="label label-success"><#LANG_XIMI_APP_ACTIVE#></span>&nbsp&nbsp
               <b><#LANG_XIMI_APP_KEY#>:</b> [#LAN_KEY#]&nbsp&nbsp
               <span onclick="lanModeOff();" data-toggle="modal" data-target="#lan_mode" class="btn btn-default [#if TOKEN=="" || DEVICE_TYPE==""#]disabled[#endif#]" title="<#LANG_XIMI_APP_DEACTIVATE_LAN_MODE#>" id="[#IP#]"><#LANG_XIMI_APP_OFF#></span>
            [#else LAN_KEY#]
               <span class="label label-warning"><#LANG_XIMI_APP_NOTACTIVE#></span>&nbsp&nbsp
               <span onclick="lanModeOn();" data-toggle="modal" data-target="#lan_mode" class="btn btn-default [#if TOKEN=="" || DEVICE_TYPE==""#]disabled[#endif#]" title="<#LANG_XIMI_APP_ACTIVATE_LAN_MODE#>" id="[#IP#]"><#LANG_XIMI_APP_ON#></span>
            [#endif LAN_KEY#]
            <div id="lan_mode_alert"></div>
         </div>
      </div>
      [#endif#]

		[#if MAC!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_MAC#] style="color:red;font-weight:bold"[#endif#]>
				MAC:
			</label>
			<div class="col-lg-4" style="padding: 5px 10px 0px 15px;">[#MAC#]</div>
		</div>
		[#endif#]
		
		[#if MODEL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_MODEL#] style="color:red;font-weight:bold"[#endif#]>
				MODEL:
			</label>
			<div class="col-lg-4" style="padding: 5px 10px 0px 15px;">[#MODEL#]</div>
		</div>
		[#endif#]
		
		[#if HW_VER!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_HW_VER#] style="color:red;font-weight:bold"[#endif#]>
				HW_VER:
			</label>
			<div class="col-lg-4" style="padding: 5px 10px 0px 15px;">[#HW_VER#]</div>
		</div>
		[#endif#]
		
      [#if DEVICE_TYPE="chuangmi.ir.v2" || DEVICE_TYPE="lumi.acpartner.v3"#]
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_XIMI_APP_TEACH1#>:
			</label>
			<div class="col-lg-4">
				<span onclick="" data-toggle="modal" data-target="#ir_learn" class="btn btn-success [#if TOKEN=="" || DEVICE_TYPE==""#]disabled[#endif#]" title="<#LANG_XIMI_APP_TEACH2#>" id="[#IP#]"><#LANG_XIMI_APP_TEACH#></span>
			</div>
		</div>
		[#endif#]
		
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				[#if ID!=""#]
				<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
				[#else ID#]
				<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
				[#endif ID#]
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
				<input type="hidden" name="id" value="<#ID#>">
				<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
				<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
				<input type="hidden" name="mode" value="update">
				<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
				<input type="hidden" name="tab" value="<#TAB#>">
			</div>
		</div>
	</fieldset>
</form>

[#if DEVICE_TYPE="lumi.gateway.v3" || DEVICE_TYPE="lumi.acpartner.v3"#]
<script type="text/javascript">

   function generateKey() {
      const CHARS = '0123456789abcdefghijklmnopqrstuvwxyz';
      let result = '';
      for(let i=0; i<16; i++) {
         let idx = Math.floor(Math.random() * CHARS.length);
         result += CHARS[idx];
      }
      return result;
   }

   function tabUpdate() {
      var link = $('#general-tab-link')[0];
      var linkEvent = document.createEvent('MouseEvents');
      linkEvent.initEvent('click', true, true);
      link.dispatchEvent(linkEvent);
      e.preventDefault();
   }

   function lanModeOff(){
      var yesno = confirm("<#LANG_XIMI_APP_LAN_MODE_OFF_ASK#>");
      if (yesno) {
         var url = '/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=set_lumi_dpf_aes_key&dopt=[""]';
         var token = "[#TOKEN#]";
         var ip = "[#IP#]";

         $("#lan_mode_alert").html('');

         if (token !== '' && ip !== '') {
            $.ajax({
               url: url,
               cache: false,
               success: function(html){
                  var resp = tryParseJSON(html);
                  if (resp !== false) {
                     $("#lan_mode_alert").html('<div class="alert alert-success" role="alert"><#LANG_XIMI_APP_LAN_MODE_OFF#>.</div>');
                     var url = "/ajax/xiaomimiio.html?op=single_prop_update&did=[#ID#]&dcmd=get_lumi_dpf_aes_key&dopt=[]";
                     $.ajax({
                        url: url,
                        cache: false,
                        success: function(html){
                           setTimeout('tabUpdate()', 1000);
                        }
                     });
                  } else {
                     $("#lan_mode_alert").html('<div class="alert alert-warning" role="alert"><#LANG_XIMI_APP_ERROR#>.</div>');
                  }
               }
            });
         } else {
            $("#lan_mode_alert").html('<div class="alert alert-warning" role="alert"><#LANG_XIMI_APP_ERROR#>.</div>');
         }
      }
   }

   function lanModeOn(){
      var yesno = confirm("<#LANG_XIMI_APP_LAN_MODE_ON_ASK#>");
      if (yesno) {
         var key = generateKey();
         var url = '/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=set_lumi_dpf_aes_key&dopt=["'+key+'"]';
         var token = "[#TOKEN#]";
         var ip = "[#IP#]";

         $("#lan_mode_alert").html('');

         if (token !== '' && ip !== '') {
            $.ajax({
               url: url,
               cache: false,
               success: function(html){
                  var resp = tryParseJSON(html);
                  if (resp !== false) {
                     $("#lan_mode_alert").html('<div class="alert alert-success" role="alert"><#LANG_XIMI_APP_LAN_MODE_ON#>.</div>');
                     var url = "/ajax/xiaomimiio.html?op=single_prop_update&did=[#ID#]&dcmd=get_lumi_dpf_aes_key&dopt=[]";
                     $.ajax({
                        url: url,
                        cache: false,
                        success: function(html){
                           setTimeout('tabUpdate()', 1000);
                        }
                     });
                  } else {
                     $("#lan_mode_alert").html('<div class="alert alert-warning" role="alert"><#LANG_XIMI_APP_ERROR#>.</div>');
                  }
               }
            });
         } else {
            $("#lan_mode_alert").html('<div class="alert alert-warning" role="alert"><#LANG_XIMI_APP_ERROR#>.</div>');
         }
      }
   }

   function tryParseJSON (jsonString){
      try {
         var o = JSON.parse(jsonString);
         if (o && typeof o === "object") return o;
      }
      catch (e) { }
      return false;
   };

</script>
[#endif#]

[#if DEVICE_TYPE="chuangmi.ir.v2" || DEVICE_TYPE="lumi.acpartner.v3"#]
<div class="modal fade" id="ir_learn" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_XIMI_APP_CLOSE#></span></button>
            <b><#LANG_XIMI_APP_TEACH2#></b>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="float-right">
                  [#if DEVICE_TYPE="chuangmi.ir.v2"#]
                     <img src="../templates/xiaomimiio/img/mi_ir_learn.png" class="img-rounded">
                  [#endif#]
                  [#if DEVICE_TYPE="lumi.acpartner.v3"#]
                     <img src="../templates/xiaomimiio/img/aqara_ir_learn.png" class="img-rounded">
                  [#endif#]
               </div>
               <p class="float-left">
                  [#if DEVICE_TYPE="chuangmi.ir.v2"#]
                     <#LANG_XIMI_APP_TEACH_TEXT#>
                  [#endif#]
                  [#if DEVICE_TYPE="lumi.acpartner.v3"#]
                     <#LANG_XIMI_APP_TEACH_TEXT_AQARA#>
                  [#endif#]
               </p>
               <br><br>
               <div>
                  <button class="btn btn-primary" onclick="startLearnIR();"><#LANG_XIMI_APP_START#></button>&nbsp;&nbsp;&nbsp;<b><i id="ir_learn_timer"></i></b>
               </div>
            </div>
            <div class="row">
               <br>
               <div>
                  <pre class="pre-scrollable" id="ir_learn_log" style="word-wrap: break-word;"></pre>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

   [#if DEVICE_TYPE="chuangmi.ir.v2"#]
   <script>
      function startLearnIR() {

         var slot=getRandomInt(1,100000);
         var dopt='{"key":"'+slot+'"}';
         var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=miIO.ir_learn&dopt="+dopt;

         $("#ir_learn_log").html('');

         Data = new Date();
         Hour = ('0' + Data.getHours()).slice(-2);
         Minutes = ('0' + Data.getMinutes()).slice(-2);
         Seconds = ('0' + Data.getSeconds()).slice(-2);

         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' ip = '+'[#IP#]'+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' token = '+'[#TOKEN#]'+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');

         $.ajax({
            url: url,
            cache: false,
            success: function(html){
               //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+html+'<br>');
               var resp = tryParseJSON(html);
               if (resp !== false) {
                  if(typeof resp.error === 'undefined') {
                     if ((typeof resp.result !== 'undefined') && (resp.result === 0 || resp.result == 'ok')) {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING#>.<br>');
                        if($("#ir_learn_timer").html()=='') {
                           $('#ir_learn_timer').html('10');
                           setTimeout('learnTimer('+slot+')', 1000);
                        }
                     } else {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - bad response.<br>');
                     }
                  } else {
                     $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - '+resp.error.message+'<br>');
                  }
               } else {
                  $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#>.<br>');
               }
            }
         });
      }

      function learnTimer(slot) {
         var obj = document.getElementById('ir_learn_timer');
         var dopt='{"key":"'+slot+'"}';
         var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=miIO.ir_read&dopt="+dopt;

         Data = new Date();
         Hour = ('0' + Data.getHours()).slice(-2);
         Minutes = ('0' + Data.getMinutes()).slice(-2);
         Seconds = ('0' + Data.getSeconds()).slice(-2);

         obj.innerHTML--;

         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+obj.innerHTML+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');

         if (obj.innerHTML == 0){
            $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING_END#>.<br>');
            $('#ir_learn_timer').html('');
            setTimeout(function(){}, 1000);
         } else {
            $.ajax({
               url: url,
               cache: false,
               success: function(html){
                  var resp = tryParseJSON(html);
                  if (resp !== false) {
                     if(typeof resp.error === 'undefined') {
                        if((typeof resp.result !== 'undefined') && (resp.result !== '')) {
                           
                           if((typeof resp.result.code !== 'undefined') && (typeof resp.result.key !== 'undefined')) {
                              if((resp.result.code!=='') && (resp.result.code.length > 10) && (resp.result.key == slot)) {
                                 $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_SUCCESSFULLY#><br>');
                                 $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp.result.code+'<br>');
                                 $('#ir_learn_timer').html('');
                                 setTimeout(function(){}, 1000);
                                 $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING_END#>.<br>');
                              } else if (resp.result.code==='') {
                                 setTimeout('learnTimer('+slot+')', 1000);
                              }  
                           }
                        }
                     } else {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - '+resp.error.message+'<br>');
                        $('#ir_learn_timer').html('');
                        setTimeout(function(){}, 1000);
                     }
                  } else {
                     $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#>.<br>');
                     $('#ir_learn_timer').html('');
                     setTimeout(function(){}, 1000);
                  }
               }
            });
         }
      }

      function tryParseJSON (jsonString) {
         try {
            var o = JSON.parse(jsonString);
            if (o && typeof o === "object") return o;
         }
         catch (e) { }
         return false;
      };

      function getRandomInt(min, max) {
         return Math.floor(Math.random() * (max - min + 1)) + min;
      }
   </script>
   [#endif#]

   [#if DEVICE_TYPE="lumi.acpartner.v3"#]
   <script>
      function startLearnIR() {

         var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=start_ir_learn&dopt=[30]";

         $("#ir_learn_log").html('');

         Data = new Date();
         Hour = ('0' + Data.getHours()).slice(-2);
         Minutes = ('0' + Data.getMinutes()).slice(-2);
         Seconds = ('0' + Data.getSeconds()).slice(-2);

         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' ip = '+'[#IP#]'+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' token = '+'[#TOKEN#]'+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');

         $.ajax({
            url: url,
            cache: false,
            success: function(html){
               //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+html+'<br>');
               var resp = tryParseJSON(html);
               if (resp !== false) {
                  if (typeof resp.error === 'undefined') {
                     //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp.result+'<br>');
                     if ((typeof resp.result !== 'undefined') && (resp.result === 0 || resp.result == 'ok')) {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING#>.<br>');
                        if ($("#ir_learn_timer").html()=='') {
                           $('#ir_learn_timer').html('20');
                           setTimeout('learnTimer()', 1000);
                        }
                     } else {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - bad response.<br>');
                     }
                  } else {
                     $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - '+resp.error.message+'<br>');
                  }
               } else {
                  $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#>.<br>');
               }
            }
         });
      }

      function learnTimer() {
         var timer = document.getElementById('ir_learn_timer');
         var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=get_ir_learn_result&dopt=[]";

         Data = new Date();
         Hour = ('0' + Data.getHours()).slice(-2);
         Minutes = ('0' + Data.getMinutes()).slice(-2);
         Seconds = ('0' + Data.getSeconds()).slice(-2);

         timer.innerHTML--;

         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+timer.innerHTML+'<br>');
         //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');

         if (timer.innerHTML == 0){
            $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING_END#>.<br>');
            $('#ir_learn_timer').html('');
            setTimeout(function(){}, 1000);
            setTimeout(function() {
               $.ajax({
                  url: "/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=end_ir_learn&dopt=[]",
                  cache: false,
                  success: function(html){
                     //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+timer.innerHTML+' -> '+html+'<br>');
                  }
               });
            }, 1000);
         } else {
            $.ajax({
               url: url,
               cache: false,
               success: function(html){
                  var resp = tryParseJSON(html);
                  if (resp !== false) {
                     if (typeof resp.error === 'undefined') {
                        if (resp.result[0] !== '(null)' && resp.result[0] !== '') {
                           $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_SUCCESSFULLY#><br>');
                           $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp.result[0]+'<br>');
                           timer.innerHTML = 0;
                           $('#ir_learn_timer').html('');
                           setTimeout(function() {
                              $.ajax({
                                 url: "/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=end_ir_learn&dopt=[]",
                                 cache: false,
                                 success: function(html){
                                    //$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+timer.innerHTML+' -> '+html+'<br>');
                                    $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING_END#>.<br>');
                                 }
                              });
                           }, 1000);
                        } else {
                           setTimeout('learnTimer()', 1000);
                        }
                     } else {
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_STRING_ERROR#> - '+resp.error.message+'<br>');
                        $('#ir_learn_timer').html('');
                        setTimeout(function(){}, 1000);
                     }
                  } else {
                     $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#>.<br>');
                     $('#ir_learn_timer').html('');
                     setTimeout(function(){}, 1000);
                  }
               }
            });
         }
      }

      function tryParseJSON (jsonString) {
         try {
            var o = JSON.parse(jsonString);
            if (o && typeof o === "object") return o;
         }
         catch (e) { }
         return false;
      };
   </script>
   [#endif#]

[#endif#]

<script>

var script = document.createElement('script');
script.src = "../templates/xiaomimiio/css/bootstrap-select.min.js"
document.body.appendChild(script);

script.onload = function() {
	// после подгрузки js-файла перерисуем элемент select
	$('.selectpicker').selectpicker('render');
}

</script>