<!-- Table 'miio_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
	
	<fieldset>
		[#if ID=""#]
		<legend><#LANG_ADD#> <#LANG_DEVICE#></legend>
		[#endif ID#]

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TITLE#> (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
				IP (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_TOKEN#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_XIMI_APP_TOKEN#>:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="token" value="[#TOKEN#]" id="token"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_DEVICE_TYPE#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TYPE#>:
			</label>
			<div class="col-lg-4">
				<select name="device_type" class="form-control">
					<option value=""></option>
					<option value="zhimi.humidifier.v1" [#if DEVICE_TYPE="zhimi.humidifier.v1"#] selected[#endif#]>Mi Air Humidifier</option>
					<option value="chuangmi.ir.v2" [#if DEVICE_TYPE="chuangmi.ir.v2"#] selected[#endif#]>Mi IR Remote 360</option>
					<option value="xiaomi.wifispeaker.v1" [#if DEVICE_TYPE="xiaomi.wifispeaker.v1"#] selected[#endif#]>Mi Internet Speaker</option>
					<option value="yeelink.light.lamp1" [#if DEVICE_TYPE="yeelink.light.lamp1"#] selected[#endif#]>Mi LED Desk Lamp</option>
					<option value="lumi.gateway.v3" [#if DEVICE_TYPE="lumi.gateway.v3"#] selected[#endif#]>Mi Smart Home Gateway 2</option>
					<option value="zimi.powerstrip.v2" [#if DEVICE_TYPE="zimi.powerstrip.v2"#] selected[#endif#]>Mi Smart Power Strip 6 Plugs</option>
					<option value="chuangmi.plug.m1" [#if DEVICE_TYPE="chuangmi.plug.m1"#] selected[#endif#]>Mi Smart Socket Plug 2</option>			
					<option value="isa.camera.isc5" [#if DEVICE_TYPE="isa.camera.isc5"#] selected[#endif#]>Mi Square Smart Camera</option>
					<option value="isa.camera.df3" [#if DEVICE_TYPE="isa.camera.df3"#] selected[#endif#]>Mi Dafang Smart Camera 120</option>			
					<option value="rockrobo.vacuum.v1" [#if DEVICE_TYPE="rockrobo.vacuum.v1"#] selected[#endif#]>Mi Vacuum Cleaner</option>
					<option value="xiaomi.repeater.v2" [#if DEVICE_TYPE="xiaomi.repeater.v2"#] selected[#endif#]>Mi WiFi Amplifier 2</option>
					<option value="philips.light.ceiling" [#if DEVICE_TYPE="philips.light.ceiling"#] selected[#endif#]>Philips EyeCare Smart Ceiling Lamp</option>
					<option value="philips.light.sread1" [#if DEVICE_TYPE="philips.light.sread1"#] selected[#endif#]>Philips EyeCare Smart Desk Lamp 2</option>
					<option value="philips.light.bulb" [#if DEVICE_TYPE="philips.light.bulb"#] selected[#endif#]>Philips Light Bulb</option>
					<option value="yeelink.light.bslamp1" [#if DEVICE_TYPE="yeelink.light.bslamp1"#] selected[#endif#]>Yeelight Bedside Lamp</option>
					<option value="yeelink.light.color1" [#if DEVICE_TYPE="yeelink.light.color1"#] selected[#endif#]>Yeelight Color Bulb</option>
					<option value="yeelink.light.mono1" [#if DEVICE_TYPE="yeelink.light.mono1"#] selected[#endif#]>Yeelight White Bulb</option>
					<option value="yeelink.light.ceiling1" [#if DEVICE_TYPE="yeelink.light.ceiling1"#] selected[#endif#]>Yeelight Ceiling Light</option>
					<option value="yeelink.light.strip1" [#if DEVICE_TYPE="yeelink.light.strip1"#] selected[#endif#]>Yeelight LED Lightstrip</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_UPDATE_PERIOD#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_POLLING_PERIOD#>, <#LANG_SECONDS#>:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="update_period" value="[#if UPDATE_PERIOD!=""#][#UPDATE_PERIOD#][#else#]0[#endif#]" id="update_period"></div>
		</div>

		[#if SERIAL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_SERIAL#>:
			</label>
			<div class="col-lg-4">[#SERIAL#]</div>
		</div>
		[#endif#]
		
		[#if DEVICE_TYPE_CODE!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_CODE#>:
			</label>
			<div class="col-lg-4">[#DEVICE_TYPE_CODE#]</div>
		</div>
		[#endif#]
		
		[#if MAC!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_MAC#] style="color:red;font-weight:bold"[#endif#]>
				MAC:
			</label>
			<div class="col-lg-4">[#MAC#]</div>
		</div>
		[#endif#]
		
		[#if MODEL!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_MODEL#] style="color:red;font-weight:bold"[#endif#]>
				MODEL:
			</label>
			<div class="col-lg-4">[#MODEL#]</div>
		</div>
		[#endif#]
		
		[#if HW_VER!=""#]
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_HW_VER#] style="color:red;font-weight:bold"[#endif#]>
				HW_VER:
			</label>
			<div class="col-lg-4">[#HW_VER#]</div>
		</div>
		[#endif#]
		
		[#if DEVICE_TYPE="chuangmi.ir.v2"#] 
		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_XIMI_APP_TEACH#>:
			</label>
			<div class="col-lg-4">
				<span onclick="" data-toggle="modal" data-target="#ir_learn" class="btn btn-success [#if TOKEN=="" || ONLINE==1 || DEVICE_TYPE==""#]disabled[#endif#]" title="<#LANG_XIMI_APP_TEACH#>" id="[#IP#]"><#LANG_XIMI_APP_TEACH#></span>
			</div>
		</div>
		[#endif#]
		
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				[#if ID!=""#]
				<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
				[#else ID#]
				<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
				[#endif ID#]
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
				<input type="hidden" name="id" value="<#ID#>">
				<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
				<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
				<input type="hidden" name="mode" value="update">
				<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
				<input type="hidden" name="tab" value="<#TAB#>">
			</div>
		</div>
	</fieldset>
</form>

<div class="modal fade" id="ir_learn" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_XXIMI_APP_CLOSE#></span></button>
				<b><#LANG_XIMI_APP_TEACH2#></b>
			</div>
			<div class="modal-body">			
				<p><#LANG_XIMI_APP_TEACH_TEXT#></p>
				<br>
				<div>
					<button class="btn btn-primary" onclick="startLearnIR();"><#LANG_XIMI_APP_START#></button>&nbsp;&nbsp;&nbsp;<b><i id="ir_learn_timer"></i></b>
				</div>
				<br>
				<div>
					<pre class="pre-scrollable" id="ir_learn_log" style="word-wrap: break-word;"></pre>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	function startLearnIR(){
		
		var slot=getRandomInt(1,100000);
		var dopt='{"key":"'+slot+'"}';
		var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=miIO.ir_learn&dopt="+dopt;
		//var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=miIO.info&dopt="+dopt;
		//{"id":10,"method":"miIO.ir_learn","params":{"key":"512430662268481"}}
		$("#ir_learn_log").html('');
		
		Data = new Date();
		Hour = Data.getHours();
		Minutes = Data.getMinutes();
		Seconds = Data.getSeconds();
		
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' ip = '+'[#IP#]'+'<br>');
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' token = '+'[#TOKEN#]'+'<br>');
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' properties = '+dopt+'<br>');
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');
		
		$.ajax({
			url: url,
			cache: false,
			success: function(html){
				//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+html+'<br>');
				var resp = tryParseJSON(html);
				if (resp !== false) {
					if(typeof resp.error === 'undefined') {
						if((typeof resp.result !== 'undefined') && (resp.result === 0)) {
							$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING#><br>');
							if($("#ir_learn_timer").html()=='') {
								$('#ir_learn_timer').html('10');
								setTimeout('learnTimer('+slot+')', 1000);
							}
						}
					} else {
						$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#STRING_ERROR#> - '+resp.error.message+'<br>');
					}
				} else {
					$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#><br>');
				}
			}
		});
		
		//$('#ir_learn_timer').html('10');
		//setTimeout('learnTimer('+slot+')', 1000);
				
	}
	
	function learnTimer(slot){
		var obj = document.getElementById('ir_learn_timer');
		var dopt='{"key":"'+slot+'"}';
		var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=miIO.ir_read&dopt="+dopt;
		//{"id":11,"method":"miIO.ir_read","params":{"key":"512430662268481"}}
				
		Data = new Date();
		Hour = Data.getHours();
		Minutes = Data.getMinutes();
		Seconds = Data.getSeconds();

		obj.innerHTML--;
		
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+obj.innerHTML+'<br>');
		//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+url+'<br>');
		
		if (obj.innerHTML == 0){
			$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_TRAINING_END#><br>');
			$('#ir_learn_timer').html('');
			setTimeout(function(){}, 1000);
		} else {
			
			//setTimeout('learnTimer('+slot+')', 1000);
			
			$.ajax({
				url: url,
				cache: false,
				success: function(html){
					//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+html+'<br>');
					var resp = tryParseJSON(html);
					//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp+'<br>');   
					if (resp !== false) {
						if(typeof resp.error === 'undefined') {
							if((typeof resp.result !== 'undefined') && (resp.result !== '')) {
								//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp.result+'<br>');
								if((typeof resp.result.code !== 'undefined') && (typeof resp.result.key !== 'undefined')) {
									if((resp.result.code!=='') && (resp.result.code.length > 10) && (resp.result.key == slot)) {
										$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_SUCCESSFULLY#><br>');
										$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' '+resp.result.code+'<br>');
										$('#ir_learn_timer').html('');
										setTimeout(function(){}, 1000);
									} else if (resp.result.code==='') {
										//$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' IR-кода нет. Слушаем дальше...<br>');
										setTimeout('learnTimer('+slot+')', 1000);
									}  
								}
							}
						} else {
							$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#STRING_ERROR#> - '+resp.error.message+'<br>');
							$('#ir_learn_timer').html('');
							setTimeout(function(){}, 1000);
						}
					} else {
						$('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' <#LANG_XIMI_APP_ERROR#><br>');
						$('#ir_learn_timer').html('');
						setTimeout(function(){}, 1000);
					}
				}
			});
			//если {"result":{"key":"512430662268481","code":""},"id":11} то ИЩЕМ ДАЛЬШЕ
			//если {‘error’: {‘code’: -5002, ‘message’: ‘no code for this key’}, ‘id’: 5} то КОД НЕ ПОЛУЧЕН
			//если {‘error’: {‘code’: -5003, ‘message’: ‘learn timeout’}, ‘id’: 17} то ВРЕМЯ ОБУЧЕНИЯ ИСТЕКЛО
			//если {"result":{"key":"512430662268481","code":"Z6VLALABAAA0AgAAmQYAAOEIAACjEQ=="},"id":15} то НАШЛИ
			
		}
	}
	
	function tryParseJSON (jsonString){
		try {
			var o = JSON.parse(jsonString);
			if (o && typeof o === "object") return o;
		}
		catch (e) { }
		return false;
	};
	
	
	function getRandomInt(min, max){
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	
</script>
