<br/>
<div>
	<img src="../templates/xiaomimiio/img/milogo2.png"  width="30" height="30">
	&nbsp;&nbsp;&nbsp;
	<a class="btn btn-primary" onclick="getZigbeeDevices('[#IP#]','[#TOKEN#]');"><i class="glyphicon glyphicon-refresh icon-white"></i>&nbsp;&nbsp;<#LANG_REFRESH#></a>
	&nbsp;&nbsp;&nbsp;
	<a class="btn btn-success" onclick="pairNewZigbee();"><i class="glyphicon glyphicon-link icon-white"></i>&nbsp;&nbsp;<#LANG_XIMI_APP_SNAP#></a>
	&nbsp;&nbsp;&nbsp;
	<i id="gw_upd_zigbee_log"></i>&nbsp;&nbsp;&nbsp;<span id="gw_upd_zigbee_timer"></span>
</div>
<br/>
<fieldset>
	<div id="gw_upd_zigbee_alert"></div>
	<div style="width:700px">
		<table class="table table-striped table-hover table-bordered" id="gw_upd_zigbee_table" align="left"></table>
	</div>
</fieldset>
<div>
	<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_STRING_BACK#></a>
</div>

<script type="text/javascript">
	
	//Получим список суб-девайсов при открытии вкладки "Zigbee"
	getZigbeeDevices('[#IP#]','[#TOKEN#]');
	
	const types = {
		1: 'switch',
		2: 'motion',
		3: 'magnet',
		7: 'ctrl_neutral2',
		8: 'cube',
		9: 'ctrl_neutral1',
		10: 'sensor_ht',
		11: 'plug',
		12: '86sw2',
		13: 'curtain',
		14: '86sw1',
		15: 'smoke',
		19: 'weather.v1',
		20: 'ctrl_ln1',
		21: 'ctrl_ln2',
		51: 'sensor_switch.aq2',
		52: 'sensor_motion.aq2',
		53: 'sensor_magnet.aq2',
		55: 'sensor_wleak.aq1',
		1003: 'natgas',
		1004: '86plug'
	};
	
	function getZigbeeDevices(ip,token){
		$("#gw_upd_zigbee_table").html('');
		$("#gw_upd_zigbee_alert").html('');
		var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip="+ip+"&dtoken="+token+"&dcmd=get_device_prop&dopt=[\"lumi.0\",\"device_list\"]";
		$.ajax({
			url: url,
			cache: false,
			success: function(html){
				//$("#gw_upd_zigbee_alert").html(html);
				//$("#gw_upd_zigbee_alert").html('<pre class="pre-scrollable" id="gw_upd_zigbee_alert" style="word-wrap: break-word;">'+html+'</pre>');
				var zdev = tryParseJSON(html);
				if (zdev !== false) {
					var zdev_count = zdev.result.length;
					if (zdev_count > 0) {
						let indx = 1;
						for(let i=0; i<zdev_count; i+=5) {
							var id = zdev.result[i];
							if(id.indexOf('lumi.') === 0) id = id.substring(5);						
							var type = zdev.result[i+1];
							var online = zdev.result[i+2];
							if(id === '0') continue;
							if(online == 1) {
								online = '<span class="label label-success" title="<#LANG_XIMI_APP_ONLINE#>">Online</span>';
								unpair = '<i id="'+id+'" onclick="unpairZigbee($(this).attr(\'id\'));" class="btn btn-default" title="<#LANG_XIMI_APP_UNBIND#>"><i class="glyphicon glyphicon-resize-full"></i></i>';
							} else {
								online = '<span class="label label-warning" title="<#LANG_XIMI_APP_OFFLINE#>">Offline</span>';
								unpair = '<i id="'+id+'" onclick="unpairZigbee($(this).attr(\'id\'));" class="btn btn-default" title="<#LANG_XIMI_APP_UNBIND#>"><i class="glyphicon glyphicon-resize-full"></i></i>';
							}
							if (types[type]) {
								model = types[type];
								img_td = '<td style="vertical-align:middle;width:60px" class="text-center"><img src="../templates/xiaomimiio/img/small/'+model+'.png" height="40px" onError="this.src=\'../templates/xiaomimiio/img/small/zigbee_unknown.png\'"></td>';
							} else {
								model = 'unknown';
								img_td = '<td style="vertical-align:middle;width:60px" class="text-center"><img src="../templates/xiaomimiio/img/small/zigbee_unknown.png" height="40px"></td>';
							}					
							$('#gw_upd_zigbee_table').append('<tr><td style="vertical-align:middle;width:50px" class="text-center">'+(indx)+'</td>'+img_td+'<td style="vertical-align:middle;min-width:170px" class="text-center">'+id+'</td><td style="vertical-align:middle;width:50px" class="text-center">'+type+'</td><td style="vertical-align:middle" class="text-center">'+model+'</td><td style="vertical-align:middle;width:90px" class="text-center">'+online+'</td><td style="vertical-align:middle;width:70px" class="text-center">'+unpair+'</td></tr>');
							indx+=1;
						}
					} else {
						$("#gw_upd_zigbee_alert").html('<div class="alert alert-warning" role="alert" id="gw_upd_zigbee_alert">Zigbee-<#LANG_DEVICE#> <#LANG_STRING_NOT_FOUND#>.</div>');
					}
				} else {
					$("#gw_upd_zigbee_alert").html('<div class="alert alert-warning" role="alert" id="gw_upd_zigbee_alert"><#LANG_XIMI_APP_ERROR#>.</div>');
				}
			}
		});
	}
	
	function pairNewZigbee(){
		var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=start_zigbee_join&dopt=[30]";
		$("#gw_upd_zigbee_log").html('');
		$('#gw_upd_zigbee_log').html('<#LANG_XIMI_APP_LINKING#>');
		$.ajax({
			url: url,
			cache: false,
			success: function(html){
				$("#gw_upd_zigbee_log").html(html);
				$('#gw_upd_zigbee_log').html('<#LANG_XIMI_APP_LINKING2#>');
				$('#gw_upd_zigbee_timer').html('30');
				setTimeout(pairTimer, 1000);
			}
		});
		
	}
	
	function unpairZigbee(sid){
		var yesno = confirm("<#LANG_XIMI_APP_UNLINKING#>"+sid+"<#LANG_XIMI_APP_UNLINKING2#>");
		if (yesno) {
			var url="/ajax/xiaomimiio.html?op=test_api_cmd&dip=[#IP#]&dtoken=[#TOKEN#]&dcmd=remove_device&dopt=[\""+sid+"\"]";
			$("#gw_upd_zigbee_alert").html(url);
			$.ajax({
				url: url,
				cache: false,
				success: function(html){
					$("#gw_upd_zigbee_alert").html('<div class="alert alert-success" role="alert" id="gw_upd_zigbee_alert"><#LANG_XIMI_APP_DELETE#>.</div>');
					setTimeout(getZigbeeDevices('[#IP#]','[#TOKEN#]'), 1000);
				}
			});	
		}
	}
	
	function pairTimer(){
		var obj = document.getElementById('gw_upd_zigbee_timer');
		obj.innerHTML--;
		if (obj.innerHTML == 0){
			$('#gw_upd_zigbee_log').html('<#LANG_XIMI_APP_COMPLETE#>');
			$('#gw_upd_zigbee_timer').html('');
			getZigbeeDevices('[#IP#]','[#TOKEN#]');
			setTimeout(function(){}, 1000);
		} else {
			setTimeout(pairTimer, 1000);
		}
	}

	
	function tryParseJSON (jsonString){
		try {
			var o = JSON.parse(jsonString);
			if (o && typeof o === "object") return o;
		}
		catch (e) { }
		return false;
	};
</script>
